#calculator {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: lightsteelblue;
}

#display {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    height: 40px;
    background-color: lightgray;
    color: black;
    padding: 10px;
}

#keys {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

